// About page content
& {

  // First section is special
  section#profile {

    margin-top: 4rem;

    // Actual profile image
    img {

      // Sizing
      width: 100%;
      @include tablet {
        height: 24rem;
      }

      // Appearance
      object-fit: cover;
    }
  }

  // Entries should atlernate between being reversed
  section:not(.reverse) .entries .entry:nth-child(odd),
  section.reverse .entries .entry:nth-child(even) {
    flex-direction: row-reverse;
  }

  // Subsequent entries
  .entry {

    // Images
    img {

      // Sizing
      margin: auto;
      height: 24rem;

      // Appearance
      border-radius: 0.25rem;
      object-fit: cover;
    }
  }
}
