// About page content
& {

  // Constrain width
  max-width: 1100px;
  padding-top: 3.5rem;
  padding-left: 5rem;
  padding-right: 5rem;

  // First entry is special
  #profile {

    // Actual profile image
    img {

      // Sizing
      width: 100%;
      @include tablet {
        height: 20rem;
      }

      // Appearance
      object-fit: cover;
    }
  }

  // Subsequent entries
  .entry {

    // Images
    img {

      // Sizing
      margin: auto;
      height: 20rem;

      // Appearance
      border-radius: 0.25rem;
      object-fit: cover;
    }

    // Alternative entries change location
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
