h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
  margin-top: 2rem;
}

*+p, *+ul, *+ol, *+dl, *+pre, *+address, *+fieldset, *+figure {
  margin-top: 1rem;
}

p a {
  color: #252525;
  text-decoration: underline;
}
