// Rules that only apply to article content
h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

*+p, *+ul, *+ol, *+dl, *+pre, *+address, *+fieldset, *+figure {
  margin-top: 1rem;
}

p a {
  color: #252525;
  text-decoration: underline;
}

ul {
  margin-left: 1.5rem;
  list-style-type: disc;
  li:not(:first-child) {
      margin-top: 0.5rem;
  }
}

.math {
  font-size: 1.25rem;
}