// Rules that only apply to article content
h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

*+p, *+ul, *+ol, *+dl, *+pre, *+address, *+fieldset, *+figure {
  margin-top: 1rem;
}

p a {
  color: #252525;
  text-decoration: underline;
}

ol, ul {
  margin-left: 1.5rem;
  li:not(:first-child) {
    margin-top: 0.5rem;
  }
}

ul {
  list-style-type: disc;
}

.citation {
  vertical-align: top;
  margin-left: 0.05rem;
  font-size: 0.7rem;
}

.math {
  &.display {
    display: block;
    overflow-x: auto;
  }
  &:not(.inline) {
    font-size: 1rem;
    @include tablet {
      font-size: 1.25rem;
    }
  }
}