// Header of homepage
#homepage-header {

  // Title text
  .title {

    // Sizing
    font-family: 'Crimson Pro', serif;
    font-size: 6rem;
    line-height: 0.8;
    font-weight: 600;
    width: fit-content;

    // Centre text on mobile
    @include mobile {
      margin: auto;
    }
    @include tablet {
      margin-left: 4rem;
    }

    // Appearance
    animation: flow 600s linear infinite;
    background-image: linear-gradient(-40deg, #2ebf91, #8360c3, #c71585);
    background: conic-gradient(
      #CA4246 16.666%,
      #E16541 16.666%,
      #E16541 33.333%,
      #F18F43 33.333%,
      #F18F43 50%,
      #8B9862 50%,
      #8B9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #A7489B 83.333%);
    background-clip: text;
    background-size: 80%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // Site description
  .description {
    text-align: center;
    @include tablet {
      text-align: left;
      font-size: 1.3rem;
    }
  }

  // Profile image
  img {

    // Sizing
    width: 7rem;

    // Positioning
    display: block;
    margin: auto;

    // Appearance
    object-fit: cover;
    border-radius: 9999px;
  }
}

// Animation for text
@keyframes flow {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 8000% 8000%;
  }

  100% {
    background-position: 0% 0%;
  }
}
