// Everything inside the navbar
#navbar-container {

  // Show above all else
  z-index: 50;

  // Stretch full width
  min-width: 100%;

  // Always stick to top of the screen
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  // Appearance
  background-color: $white-bis;
}

// Becomes visible when #nav-menu-trigger is hovered
#nav-menu {

  // Remove from dom and position just below navbar container
  position: absolute;
  top: 24px;
  left: 0px;
  right: 0px;

  // Hide by default
  display: none;

  // Appearance
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  // Columns mess up the appearance
  .columns {
    margin: 0px;
  }
}
