// Large cards showing posts
.post-preview-featured {

  // Sizing
  height: 24rem;
  padding: 1.25rem 1.25rem 2.5rem;
  box-sizing: border-box;

  // Div inside the preview
  .internal {

    // Stay central
    margin-left: auto;
    margin-right: auto;

    // Hide overflowing content
    overflow: hidden;

    // Appearance
    border-radius: 0.25rem;
    li:not:first-child {
      margin-top: 5px;
    }

    // Handle grids
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    .left {
      grid-column: span 1 / span 1;
    }

    // When on desktop
    @include desktop {

      // Ensure height matches preview
      height: 24rem;

      // Rearrange grids to be side-by-side
      grid-template-columns: repeat(3, minmax(0, 1fr));
      .left {
        grid-column: span 2 / span 2;
      }
      .right {
        grid-column: span 1 / span 1;
      }
    }

    // Reduce resulting whitespace from titles
    .title {
      margin-bottom: 0.8rem; 
    }

    // All images within post preview
    img, .swiper {
      width: 100%;
      height: 16rem;

      // Make height limiting factor only on mobile
      @include desktop {
        height: 24rem;
      }
    }

    // Images should cover available space
    img {
      object-fit: cover;
    }
  }
}
