// Links to the previous and next posts
#post-links {

  // Rework columns
  .column {
    padding: 0rem;
    margin: 3rem;
    &.left {
      text-align: left;
      margin-left: 0rem;
    }
    &.right {
      text-align: right;
      margin-right: 0rem;
      .post-link {
        margin-left: auto;
      }
    }
  }

  // Both links
  .post-link {

    // Sizing
    width: 100%;
    @include widescreen {
      width: 90%;
    }
    @include fullhd {
      width: 80%;
    }

    // Images
    img {

      // Positioning
      margin-top: auto;
      margin-bottom: auto;
      display: block;
      object-fit: cover;

      // Sizing
      width: 12rem;
      height: 8rem;
      @include desktop {
        width: 16rem;
        height: 9rem;
      }
    }
  }

}
