// Quote snippets for articles
blockquote {

  // Positioning
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-left-width: 1px;
  padding-left: 2rem;

  // Appearance
  border-color: rgba(75, 85, 99, 1);
  font-family: 'Merriweather', serif;
  font-size: 1.35rem;
}
