// Links that allow you to get a URL to the section
section.article-section {
  h1, h2, h3, h4, h5, h6 {

    // Flexibly display anchor links
    display: flex;

    // The text
    >:first-child {
      margin-right: auto;
    }

    // The icon itself
    .anchor {
      display: flex;
      margin-left: auto;
      font-size: 1.25rem;
      width: 2rem;
      min-width: -webkit-min-content;
      min-width: -moz-min-content;
      min-width: min-content;
      color: rgba(153, 153, 153, 1);
      text-decoration: none;

      // Ensure element is centered
      &::before {
        margin: auto;
      }
    }

    // Reposition anchor links on wider screens
    @include desktop {
      flex-direction: row-reverse;
      .anchor {
        margin-right: 1rem;
        margin-left: -3rem;
      }
    }
  }
}
