<div class="container">
  <div class="h-56 sm:h-xl xl:h-2xl bg-cover w-5/6 mx-auto lg:min-w-full xl:w-auto mb-8 xl:-mx-24 rounded-lg relative shadow-2xl overflow-hidden">
    $if(has-images)$
      <div class="swiper featured-swiper">
        <div class="swiper-wrapper">
          $for(images)$
            <div class="swiper-slide h-56 sm:h-xl xl:h-2xl">
              <img src="$image$" 
                   alt="Featured image $index$ for $title$" 
                   class="object-cover w-full h-56 sm:h-xl xl:h-2xl">
            </div>
          $endfor$
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <script>
        var swiper = new Swiper('.featured-swiper', {
          direction: 'horizontal',
          loop: true,
          slidesPerView: 1,
          autoplay: {
            delay: 5000,
            disableOnInteraction: true,
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        });
      </script>
    $else$
      <img src="$image$" alt="Article image" class="relative w-full h-full object-cover">
    $endif$
  </div>
</div>

$partial("templates/includes/article-header.html")$

<div class="container is-widescreen">
  <div class="columns is-desktop is-centered is-variable is-8 m-0">

    $if(toc)$
      <div id="side-toc" class="column is-narrow">
        <div class="table-of-contents">
          $toc$
        </div>
      </div>
    $endif$

    <div class="column is-narrow">
      <article class="container is-max-desktop">
        <div class="columns is-desktop is-centered">
          <div class="column $if(toc)$can-shrink-for-toc$endif$">
            $body$
          </div>
        </div>
      </article>
    </div>

  </div>
</div>
