<footer>
  <div class="container is-max-desktop">
    <div class="columns">

      <div class="column">
        <h3 class="title is-5">Contact</h3>
        <ul class="ml-1 ">
          <li>
            <a href="mailto:$social-email$" class="no-underline">
              <i class="las la-envelope-open-text"></i> $social-email$
            </a>
          </li>
          <li>
            <a href="https://github.com/$social-github$" class="no-underline">
              <i class="lab la-github"></i> github.com/$social-github$
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/$social-linkedin$" class="no-underline">
              <i class="lab la-linkedin"></i></svg> linkedin.com/in/$social-linkedin$
            </a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h3 class="title is-5">About this blog</h3>
        <ul class="ml-1">
          <li>
            Built with <i class="las la-code"></i> and <i class="lar la-heart"></i> using <a href="https://jaspervdj.be/hakyll/">Hakyll</a>
          </li>
          <li id="git-hash">
            <i class="las la-code-branch"></i> 
            Last updated: 
            <a href="$site-repo$">$git-head-commit-full$</a>
          </li>
          <li>
            <a href="https://builtwithnix.org" rel="nofollow">
              <img src="https://builtwithnix.org/badge.svg" alt="Built with Nix">
            </a>
          </li>
        </ul>
      </div>

      <div id="footer-logo" class="column">
        <a href="/">
          <img src="/assets/images/logo.png" 
               alt="Aas.sh site logo">
        </a>
      </div>

    </div>
  </div>
</footer>
