<nav id="navbar-container">
  <div class="level container is-mobile is-max-desktop">

    <div class="level-left">
      <a id="nav-menu-trigger" class="icon-text">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="square" stroke-linejoin="miter" stroke-width="1.5" d="M4 6h20 M4 12h20 M4 18h20"/>
          </svg>
        </span>
        <span class="is-uppercase is-size-7">Menu</span>
      </a>
    </div>

    <div class="level-item">
      <a href="/" class="">
        <span class="is-size-7">aas.sh</span>
      </a>
    </div>

    <div class="level-right">
      <div class="flex">
        $if(toc)$
          <a id="nav-toc-trigger">
            <span class="mr-2 is-uppercase is-size-7">
              <span class="mobile">Content</span>
              <span class="desktop">Table of Contents</span>
            </span>
          </a>
        $endif$

        <span class="ml-2" style="margin-top:auto;margin-bottom:auto">
          <button id="theme-toggle-light" type="button" class="hidden">
            <i class="w-5 h-5 lar la-moon"></i>
          </button>
          <button id="theme-toggle-dark" type="button" class="hidden">
            <i class="w-5 h-5 lar la-sun"></i>
          </button>
        </span>
      </div>
    </div>

  </div>

  <div id="nav-menu" class="container is-max-widescreen">
    <div class="columns">
      <div class="column">
        <ul>
          <a href="/"><li class="is-uppercase">Home</li></a>
          <li><a href="/about/">About</a></li>
          <li><a href="/archive/">Archive</a></li>
          <li><hr></li>
          <li>
            $partial("templates/includes/socials-horizontal.html")$
          </li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <a href="/projects/"><li class="is-uppercase">Projects</li></a>
          <li><a href="/projects/">All Projects</a></li>
          <li><a href="/posts-by-project/">Posts By Project</a></li>
          <li><hr></li>
          <li class="items-center">
            <i class="las la-snowflake"></i>
            <a href="https://github.com/$social-github$/dotfiles">
              NixOS Config
            </a>
          </li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <a href="/blog/"><li class="is-uppercase">Blog</li></a>
          <li><a href="/blog/">All Posts</a></li>
          <li>
            <i class="las la-rss"></i>
            <a href="/rss.xml">RSS</a>
            <a href="/atom.xml">Atom</a>
          </li>
          <li><hr></li>
          <li>
            <i class="las la-code-branch"></i>
            Current rev.: 
            <a href="$site-repo$/commit/$git-head-commit-hash$">
              $git-head-commit$
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  $if(toc)$
    <div id="nav-toc" class="table-of-contents">
      $toc$
    </div>
    <script>
      window.onload = function () {
        scrollSpy('#nav-toc', {
          sectionClass: '.anchor-header',
          menuActiveTarget: 'li > a',
          smoothScroll: true,
          smoothScrollBehavior: function(element, options) {
            element.scrollIntoView({ 
              block: 'start',
              inline: 'nearest',
              behavior: 'smooth', 
            })
          }
        })
      }
    </script>
  $endif$

</nav>
