<div class="swiper-slide h-96 p-5 pb-10">
  <div class="grid grid-cols-1 md:grid-cols-3 rounded overflow-hidden dark:bg-mutedNight shadow-xl">

    <div class="col-span-1 md:col-span-2">
      $if(has-images)$
        <div class="swiper featured-swiper$slug$ h-64 md:h-96">
          <div class="swiper-wrapper">
            $for(images)$
              <div class="swiper-slide">
                <img src="$image$" 
                     alt="Image $index$ for $title$" 
                     class="object-cover w-full h-64 md:h-96">
              </div>
            $endfor$
          </div>
          <div class="swiper-pagination"></div>
        </div>
      $else$
        <img src="$image$" 
             alt="Image for $title$" 
             class="object-cover w-full md:h-96">
      $endif$
    </div>

    <div class="col-span-1">
      <article class="p-5 md:pb-0">
        <header class="mb-4">

          <h1 class="text-xl">
            <a class="uk-link-heading" href="$url$">
              $title$
            </a>
          </h1>

          <h2 class="text-sm mt-0">
            <ul class="items-center my-0">
              <li class>
                <i class="las la-calendar-day"></i> $date$
              </li>
              <li>
                <i class="las la-stopwatch"></i> $read-time$ Minutes
              </li>
              $if(tags)$
                <li class="break-words">
                  <i class="las la-tags"></i>
                  $for(tags)$
                    <span><a class="text-emphasis" href="$url$">$name$</a>$sep$, </span>
                  $endfor$
                </li>
              $endif$
            </ul>
          </h2>
          <p class="mt-0">$description$</p>
        </header>
        <div>
          <a class="uppercase text-sm no-underline text-emphasis" href="$url$">Read more</a>
        </div>
      </article>
    </div>
  </div>
</div>
