<div class="swiper-slide post-preview-featured">
  <div class="internal apply-shadow">

    <div class="left">
      $if(has-images)$
        <div class="swiper featured-swiper$slug$">
          <div class="swiper-wrapper">
            $for(images)$
              <div class="swiper-slide">
                <img src="$image$"
                     alt="Preview image $index$ for post '$title$'">
              </div>
            $endfor$
          </div>
          <div class="swiper-pagination"></div>
        </div>
      $else$
        <img src="$image$" alt="Preview image for post '$title$'">
      $endif$
    </div>

    <div class="right p-5">
      <header class="mb-4">

        <h4 class="title is-4"><a href="$url$">$title$</a></h4>

        <div class="is-monospace is-size-7 mt-0 $if(tags)$$else$mb-2$endif$">
          <ul>
            <li class="mt-1">
              <i class="las la-calendar-day"></i> $date$
            </li>
            <li class="mt-1">
              <i class="las la-stopwatch"></i> $read-time$ Minutes
            </li>
            <li class="mt-1 authors">
              <i class="las la-user-circle"></i>
              <span class="is-size-7">
                $if(has-authors)$
                  $for(authors)$
                    $author$$sep$,
                  $endfor$
                $else$
                  $social-name$
                $endif$
              </span>
            </li>
            $if(tags)$
              <li class="mt-1 break-words">
                <i class="las la-tags"></i>
                <div class="tags" style="display:inline;">
                  $for(tags)$
                    <a class="tag $name$" href="$url$">$name$</a>
                  $endfor$
                </div>
              </li>
            $endif$
          </ul>
        </div>
        <p class="description">$description$</p>
      </header>
      <a class="is-uppercase is-size-7 no-underline is-sans-serif" href="$url$">
        Read more
      </a>
    </div>

  </div>
</div>
