.hidden {
  display: none;
}

.w-full {
  width: 100% !important;
}

.break-words {
  overflow-wrap: break-word;
}

.apply-shadow {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: box-shadow;
  transition-duration: 0.08s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  &.hover:hover {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

.no-underline {
  text-decoration: none;
}

.fill-horizontal {
  overflow: hidden;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border-radius: 0px !important;

  @include tablet {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  @include desktop {
    border-radius: 0.25rem !important;
    margin-left: auto;
    margin-right: auto;
  }
}
