<header id="header" class="mb-10">
  <div class="flex flex-col sm:flex-row lg:w-1/2 my-8 justify-items-center justify-end items-left">
    <div class="flex flex-col p-5 text-center sm:text-left mx-auto">
      <small class="font-medium">$social-name$</small>
      <div class="font-bold text-6xl mt-0">
        $title$
      </div>
    </div>
  </div>
</header>

<section>
  <div class="flex flex-col lg:flex-row ">
    <div class="flex flex-col lg:w-1/2">
      <div class="w-2/3 sm:w-1/3 lg:w-2/3 mx-auto my-0 lg:mr-0">
        <img class="w-full rounded-lg my-0" 
             src="$profile-featured-image$" 
             alt="Photo of myself" 
             style="object-fit: cover;"/>

        <div class="text-center py-5">
          $partial("templates/includes/socials-horizontal.html")$
        </div>
      </div>
    </div>

    <div class="flex flex-col p-3 mx-auto lg:px-8 sm:w-4/5 lg:w-1/2">
      <p class="font-medium text-2xl lg:text-3xl lg:text-4xl">
        $description$
      </p>
      <p class="text-xl md:text-xl lg:text-2xl mt-0">
        $description-extension$
      </p>
      <div class="mt-0 lg:text-lg">
        $read-md("about")$
      </div>

    </div>
  </div>
</section>
