<section class="relative">
  $partial("templates/includes/article.html")$
</section>

$if(related-project)$
  <section class="container">
    <h2>Related Project</h2>
    $for(related-project)$
      $partial("templates/includes/post-preview-featured.html")$
    $endfor$
  </section>
$endif$

<div class="flex flex-col md:flex-row w-full max-w-screen-2xl mx-auto mt-10">
  <div class="w-full md:w-1/2 pr-12 text-left">
    $if(previous-post)$
      $for(previous-post)$
        <div class="w-full xl:w-4/5 box dark:bg-mutedNight p-0 float-left shadow-xl hover:shadow-2xl">
          <div class="flex flex-row w-full">
            <img class="block w-48 h-32 lg:w-64 lg:h-36 object-cover my-auto"
                 src="$if(has-images)$$at-index("images", "0")$$else$$image$$endif$">
            <div class="p-3 w-full text-black dark:text-white">
              <small class="uppercase text-sm">Previous $if(project)$Project $endif$Post</small>
              <h3 class="m-0 text-lg"><a href="$url$" class="no-underline">$title$</a></h3>
              $if(subtitle)$<small class="text-sm">$subtitle$</small>$endif$
            </div>
          </div>
        </div>
      $endfor$
    $endif$
  </div>

  <div class="w-full md:w-1/2 pl-12 text-right">
    $if(next-post)$
      $for(next-post)$
        <div class="w-full xl:w-4/5 box dark:bg-mutedNight p-0 float-right shadow-xl hover:shadow-2xl">
          <div class="flex flex-row w-full">
            <div class="p-3 w-full text-black dark:text-white">
              <small class="uppercase text-sm">Next $if(project)$Project $endif$Post</small>
              <h3 class="m-0 text-lg"><a href="$url$" class="no-underline">$title$</a></h3>
              $if(subtitle)$<small class="text-sm">$subtitle$</small>$endif$
            </div>
            <img class="block w-48 h-32 lg:w-64 lg:h-36 object-cover my-auto"
                 src="$if(has-images)$$at-index("images", "0")$$else$$image$$endif$">
          </div>
        </div>
      $endfor$
    $endif$
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML-full" type="text/javascript"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<![endif]-->
