<section class="relative">
  $partial("templates/includes/article.html")$
</section>

$if(related-project)$
  <section class="container is-max-desktop">
    <h3 class="title">Related project</h3>
    $for(related-project)$
      $partial("templates/includes/post-preview-featured.html")$
    $endfor$
  </section>
$endif$

<div id="post-links">
  <div class="columns">

    <div class="column left">
      $if(previous-post)$
        $for(previous-post)$
          <div class="post-link apply-shadow hover">
            <div class="w-full is-flex is-flex-direction-row">
              <img src="$if(has-images)$$at-index("images", "0")$$else$$image$$endif$">
              <div class="p-3 w-full">
                <small class="uppercase text-sm">Previous Post</small>
                <h3 class="m-0"><a href="$url$" class="no-underline">$title$</a></h3>
                $if(subtitle)$<small class="subtitle">$subtitle$</small>$endif$
              </div>
            </div>
          </div>
        $endfor$
      $endif$
    </div>

    <div class="column right">
      $if(next-post)$
        $for(next-post)$
          <div class="post-link apply-shadow hover">
            <div class="w-full is-flex is-flex-direction-row">
              <div class="p-3 w-full">
                <small class="uppercase text-sm">Next Post</small>
                <h3 class="m-0"><a href="$url$" class="no-underline">$title$</a></h3>
                $if(subtitle)$<small class="subtitle">$subtitle$</small>$endif$
              </div>
              <img src="$if(has-images)$$at-index("images", "0")$$else$$image$$endif$">
            </div>
          </div>
        $endfor$
      $endif$
    </div>

  </div>
</div>
